 .u-section-1 {
  background-image: url("ef6e188070892f3c0d43b8bafad7d7df.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 731px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  text-decoration: underline !important;
  margin: 216px 122px 0 auto;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 3.75rem;
  letter-spacing: 1px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 26px 326px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 603px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 126px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 462px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 347px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 218px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-right: 77px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 2.25rem;
    padding: 0 16px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 371px;
}

.u-section-2 .u-text-1 {
  margin-bottom: 0;
  margin-top: 20px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-image-1 {
  width: 161px;
  height: 320px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -48px 139px 0 auto;
}

.u-section-2 .u-text-2 {
  font-size: 1.875rem;
  margin: -248px 570px 60px 21px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-2 {
    margin-right: 391px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    margin-right: 171px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    margin-right: 0;
  }
}